/* Reset default styles */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: rgb(48, 48, 47);
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

/* header section */
header {
  position: sticky;
  top: 0;
  background-color: rgb(48, 48, 47);
  color: white;
  padding: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

header #my {
  margin-left: 100px;
  font-size: 30px;
  font-family: 'Pacifico', sans-serif;
  font-weight: 700;
}

header a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 100px;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: orange;
}

nav ul li a.active {
  color: orange;
}

#menu-btn {
  font-size: 25px;
  cursor: pointer;
  color: white;
  display: none;
}

/* common */
section {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

/* home section */
#home {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
  min-height: 90vh;
  background: linear-gradient(to right, #a1ed6b, #38ef35);
}

#home #item1 {
  text-align: center;
  padding: auto;
}

#home #item1 img {
  width: 400px;
  height: auto;
  border-radius: 25%;
}

#home #item2 {
  text-align: justify;
}

#home #item2 h2 {
  font-size: 30px;
  letter-spacing: 4px;
}

#home #item2 h3 {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: black;
  letter-spacing: 1px;
}

#home #item2 h4 a {
  text-decoration: none;
  color: rgb(48, 48, 47);
}

#home #item2 h4 a:hover {
  color: orange;
}

#home #item2 .resume {
  margin-bottom: 20px;
}

#home #item2 .contactlist {
  display: flex;
  flex-direction: row;
}

#home #item2 .private {
  display: flex;
  align-items: center;
}

#home #item2 .private a:hover {
  color: white;
}

#home #item2 .social-media {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 50px;
  margin-right: 50px;
}

#home #item2 .social-media a {
  color: rgb(48, 48, 47);
  font-size: 45px;
}

#home #item2 .social-media a:hover {
  color: white;
}

#home #item2 #download {
  background: linear-gradient(to right, #baeb90, #07da1c);
  padding: 15px;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 10px;
}

#home #item2 #download:hover {
  color: white;
}

/* about section */
/* #about {
  background-color: white;
  width: 80%;
}

#about h1 {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: orange;
  padding-left: 80px;
} */

/* expirience section */
#experience {
  background-color: white;
  width: 80%;
}

#experience h1 {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: orange;
  padding-left: 80px;
}

.exp {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 80px;
}

#experience .exp .ex {
  display: flex;
  flex-direction: row;
}

#experience .exp .ex img {
  width: 60px;
  height: 60px;
}

#experience .exp .ex .content {
  margin-left: 20px;
}

hr {
  width: 80%;
}

/* education section */
#education {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
}

#education .edu,
#education .courses {
  padding-left: 80px;
}

#education .edu .details,
#education .courses .details {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

#education .edu .details .content,
#education .courses .details .content {
  margin-left: 20px;
}

#education .edu .details .image img,
#education .courses .details .image img {
  width: 60px;
  height: 60px;
}

#education .edu .details .image #curve,
#education .courses .details .image #curve {
  border-radius: 50%;
}

#education .courses .details .content p a {
  color: blue;
}

#education .edu h1,
#education .courses h1 {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: orange;
}

/* portfolio section */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#portfolio .project-buttons {
  text-align: center;
  margin-bottom: 20px;
}

#portfolio .filter-button {
  color: rgb(48, 48, 47);
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-weight: bold;

  /* Increase the space between text and underline */
  text-decoration-skip-ink: none; /* Disable skipping ink */
  text-underline-offset: 6px; /* Adjust the offset (increase as needed) */
}

#portfolio .filter-button:hover {
  color: orange;
}

#portfolio .filter-button.active {
  color: orange;
}

#portfolio .projectDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: center;
}

#portfolio .project {
  height: 500px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#portfolio .project img {
  width: 300px;
  height: 200px;
}

#portfolio .project a {
  text-decoration: none;
  background-color: rgb(48, 48, 47);
  color: white;
  border-radius: 20px;
  padding: 10px;
}

#portfolio .project .sk button {
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

/* skill sectio */
#skills {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#skills .hardskill,
#skills .softskill {
  padding-left: 80px;
}

#skills .hardskill .myskill {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#skills .softskill .mysoftskill {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#skills .hardskill h1,
#skills .softskill h1 {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: orange;
}

/* other section */
#other {
  padding-bottom: 20px;
  display: flex;
  width: 80%;
}

#other h2 {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: orange;
}

#other .content {
  padding-left: 80px;
}

#other p span {
  font-weight: bold;
  font-size: 20px;
}

#other ul li p a {
  color: blue;
}

/* footer */
footer {
  background-color: rgb(48, 48, 47);
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
}

footer .social-media a {
  color: white;
  font-size: 50px;
}

footer .social-media a:hover {
  color: orange;
}

footer #copyright {
  color: white;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
}

/* Media query for tablets and larger phones */
@media screen and (max-width: 1024px) {
  #home {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  #home #item2 .contactlist {
    flex-direction: column;
  }

  #home #item2 .social-media {
    padding-left: 0px;
  }

  #portfolio .projectDisplay {
    grid-template-columns: repeat(2, 1fr);
  }

  #skills .hardskill .myskill {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  #skills .softskill .mysoftskill {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  #menu-btn {
    margin-right: 50px;
    display: inline-block;
    transition: 0.2s linear;
  }

  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: rgb(48, 48, 47);
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar ul {
    display: flex;
    flex-direction: column;
  }

  #menu-btn.fa-times {
    transform: rotate(90deg);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }

  #portfolio .projectDisplay {
    grid-template-columns: repeat(1, 1fr);
  }
}
